.textEditor {
  padding: 20px;
  overflow-y: scroll;
  font-size: larger;
}

.word {
  display: inline;
}

.public-DraftStyleDefault-block > div {
  display: inline;
  font-size: larger;
}

.public-DraftStyleDefault-block {
  display: inline;
  font-size: larger;
  line-height: 200%;
}

.highlightWord {
  font-weight: bold;
}

div.public-DraftEditor-content {
  height: 90vh;
  text-align: justify;
}
